.jmAdminHomepage__about

    padding: 2rem
    display: flex
    flex-direction: column
    align-items: center

    $pageWidth: 80%

    .jmAdminHomepageAbout__edit
        height: fit-content
        width: $pageWidth

        #jmAdmin__homepage__about__aboutEditor
            width: 100%
            height: 50vh
            border-radius: 1rem
            padding: 1rem
            font-family: "Roboto", sans-serif
            font-size: 1.8rem
            color: var(--primary-color)
            background-color: var(--secondary-color)
            transition: all .1s

            &:focus
                outline: none
                border: 4px solid var(--accent-color)

                & ~ .jmAdminHomepageAboutEdit__buttons
                    margin-top: calc(1rem - 6px)
            
        
        .jmAdminHomepageAboutEdit__buttons

            margin-top: 1rem
            transition: all .1s

            & > .btn
                width: 12rem
                height: 4rem
                border-radius: 1rem

            & > *:not(:last-child)
                margin-right: 2rem
            
            &--reset
                color: white

    .jmAdminHomepageAbout__preview
        width: $pageWidth
        margin-top: 2rem
        font-size: 1.6rem
        font-weight: 500
        