<div
  *ngIf="aboutText !== null; else loadingData"
  class="jmAdminHomepage__about"
>
  <div class="success" *ngIf="isSendSuccessful">Success edit</div>

  <div class="jmAdminHomepageAbout__edit">
    <textarea
      name="aboutTextEditor"
      id="jmAdmin__homepage__about__aboutEditor"
      [(ngModel)]="aboutText"
      (keydown)="deactivateSuccessMessage($event)"
    ></textarea>
    <div class="jmAdminHomepageAboutEdit__buttons">
      <button
        class="
          btn btn--green btn--shadow
          jmAdminHomepageAboutEdit__buttons--save
        "
        (click)="onSave()"
      >
        Save
      </button>
      <button
        class="
          btn btn--red btn--shadow
          jmAdminHomepageAboutEdit__buttons--reset
        "
        (click)="onReset()"
      >
        Reset
      </button>
    </div>
  </div>

  <div class="jmAdminHomepageAbout__preview">
    <h3>Live Preview</h3>
    <markdown emoji [data]="aboutText"></markdown>
  </div>
</div>
<ng-template #loadingData>Loading data...</ng-template>
