.jmAdminClient__header
    background-color: var(--primary-color)
    height: var(--header-height)
    font-size: 1.6rem
    padding: 0 2rem
    width: calc( 100% - var(--sidebar-width-expanded) )
    position: fixed
    top: 0
    right: 0
    z-index: 10
    display: flex
    justify-content: space-between
    align-items: center
    transition: all .3s

    &.hundred
        width: 100%
    
    &.not-fullsize
        width: calc(100% - var(--sidebar-width-not-expanded))

    & .jmAdminClient__headerToggleBtn 
        font-size: 4rem
        cursor: pointer

        & i
            transition: all .3s

        & i.rotate
            transform: rotate(180deg)

    &UserIcon
        cursor: pointer