<header class="jmAdminClient__header" #headerRef>
  <div>
    <div
      *ngIf="layout === 'Desktop'"
      (click)="toggleSidebar()"
      class="jmAdminClient__headerToggleBtn"
      id="jmAdminClient__headerToggleBtn__Dekstop"
    >
      <span><i class="las la-angle-left"></i></span>
    </div>
    <div
      *ngIf="layout === 'Mobile'"
      (click)="toggleSidebar()"
      class="jmAdminClient__headerToggleBtn"
      id="jmAdminClient__headerToggleBtn__Mobile"
    >
      <span><i class="las la-bars"></i></span>
    </div>
  </div>
  <div class="jmAdminClient__headerUserIcon" (click)="onUserIconClick()">
    <app-user-icon size="4rem"></app-user-icon>
  </div>
</header>
