.btn
    padding: 1rem 2rem
    border: none
    cursor: pointer
    font-family: "Montserrat"
    font-weight: 600
    letter-spacing: 1px
    border-radius: .5rem
    min-width: fit-content !important
    min-height: fit-content !important
    transition: all .2s

    &:hover
        transform: scale(1.03) translateY(-.5rem)

    &--shadow
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        &:hover
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)  

    &--green
        background-color: var(--green, green)
    
    &--red
        background-color: var(--red, red)