<div class="jmAdminClient__wrapper">
  <div class="jmAdminClient__left" [class.mobile]="layout === 'Mobile'">
    <app-sidebar
      [layout]="layout"
      [navigationEntries]="navigationEntries"
      [sidebarControlEvent]="sidebarControlEvent | async"
    ></app-sidebar>
  </div>
  <div *ngIf="layout === 'Mobile'"></div>
  <div class="jmAdminClient__right">
    <app-header
      [layout]="layout"
      (sidebarControlEvent)="onSidebarControlEvent($event)"
    ></app-header>
    <main class="jmAdminClient__content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
