.jmAdminClient
    &__wrapper
        height: 100vh
        width: 100vw
        overflow-x: hidden
        overflow-y: hidden
        display: flex

    &__right
        width: 100%
        overflow-y: auto

    &__content
        font-family: var(--default-font-family)
        font-size: var(--default-font-size)
        min-height: calc( 100vh - var(--header-height))
        position: relative
        margin-top: var(--header-height)
        padding: 2rem