.userIcon 
    font-size: 2rem  
    overflow: hidden  

    &__iconWrapper--noAvatar
        border-radius: 50%
        background-color: var(--accent-color)
        display: grid
        justify-content: center
        align-content: center


    img
        border-radius: 50%
        object-fit: cover
        object-position: 50% 50%

    span
        font-weight: bolder
    