<div class="userIcon" #userIconRef>
  <div *ngIf="hasAvatar">
    <img [src]="avatar" alt="User avatar" class="userIcon__icon" />
  </div>
  <div *ngIf="!hasAvatar" class="userIcon__iconWrapper--noAvatar">
    <span class="userIcon__icon">{{ avatar }}</span>
  </div>
</div>
