.jmAdminClient__sidebar
    background: linear-gradient(180deg, var(--yellow), var(--accent-color))
    height: 100vh
    position: relative
    transition: all .3s
    width: var(--sidebar-width-not-expanded)

    &--expanded
        width: var(--sidebar-width-expanded)


    &CloseIcon 
        cursor: pointer
        font-size: 3rem
        font-weight: bolder
        position: absolute
        right: .5rem
        top: .5rem

    &.mobile
        position: fixed
        z-index: 9999
        transform: translateX(-30rem)
        transition: transform .3s



        &.opened
            transform: translateX(0) 

            &::after
                display: block

    &::after
        content: ""
        display: none
        backdrop-filter: blur(2px)
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100vw
        height: 100vh

    &::before
        content: ""
        height: 100%
        width: 100%
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        backdrop-filter: blur(10px)

    &--flex
        display: flex
        flex-direction: column
        position: relative
        z-index: 2
        padding: 0 .5rem


    &Heading
        margin: 0
        padding: 0
        align-self: center
        padding: 2rem 0
        font-size: 3rem

    &Navigation
        &--entry, &Submenu--heading
            font-size: 1.6rem
            padding: 1rem 1rem
            user-select: none
            position: relative

        &Submenu--heading
            margin-top: 2rem
            position: relative

            & > *
                position: relative
                z-index: 3

            &::before
                content: ""
                height: 100%
                width: 100%
                position: absolute
                left: 0
                top: 0
                bottom: 0
                right: 0
                backdrop-filter: contrast(80%)


        &--active::before
            content: ""
            height: 100%
            width: 100%
            position: absolute
            left: 0
            top: 0
            bottom: 0
            right: 0
            backdrop-filter: contrast(50%)
            

        &--entry
            background-color: var(--secondary-color)
            

            a
                text-decoration: none
                color: var(--primary-color)
                position: relative
                z-index: 3
                transition: all .3s
                
