<aside
  class="jmAdminClient__sidebar jmAdminClient__sidebar--expanded"
  [class.mobile]="layout === 'Mobile'"
  #sidebarRef
>
  <div class="jmAdminClient__sidebar--flex">
    <span
      *ngIf="layout === 'Mobile'"
      class="jmAdminClient__sidebarCloseIcon"
      (click)="closeSidebar()"
      ><i class="las la-times"></i
    ></span>
    <h2 class="jmAdminClient__sidebarHeading">JM Admin</h2>
    <nav class="jmAdminClient__sidebarNavigation">
      <div
        *ngFor="let entrySection of navigationEntries"
        class="jmAdminClient__sidebarNavigationSubmenu"
      >
        <div
          *ngIf="entrySection.name"
          class="jmAdminClient__sidebarNavigationSubmenu--heading"
        >
          <span>{{ entrySection.name }}</span>
        </div>
        <div class="jmAdminClient__sidebarNavigationSubmenu--entries">
          <div
            *ngFor="let entryPoint of entrySection.points"
            class="jmAdminClient__sidebarNavigation--entry"
            [routerLinkActive]="
              entryPoint.enableRouterLinkActive !== undefined &&
              entryPoint.enableRouterLinkActive === true
                ? 'jmAdminClient__sidebarNavigation--active'
                : ''
            "
            [routerLinkActiveOptions]="
              entryPoint.routerLinkActiveOptions
                ? entryPoint.routerLinkActiveOptions
                : { exact: false }
            "
          >
            <a
              [routerLink]="entryPoint.path"
              (click)="layout === 'Mobile' && closeSidebar()"
              >{{ entryPoint.name }}</a
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</aside>
