:root
    --default-font-family: "Montserrat"
    --default-font-size: 1.6rem

    //Config vars for elements on the page

    //sidebar
    --sidebar-width-expanded: 25rem
    --sidebar-width-not-expanded: 10rem

    //header
    --header-height: 6rem


    //Color Scheme
    --primary-color: #ffffff
    --secondary-color: #2c3e50
    --accent-color: #ff8709

    //Colors
    --green: #2ECC71
    --red: #C0392B
    --yellow: #FFD603