/* You can add global styles to this file, and also import other style files */

@import ./style/_fonts
@import ./style/_cssVars
@import ./style/components/_button

html 
    font-size: 62.5%

body
    font-size: 1rem
    font-family: sans-serif
    margin: 0
    padding: 0

*
    box-sizing: border-box

p
    margin: 0
    padding: 0